@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* globals.css or your global CSS file */

body {
  position: relative; /* Make sure the body is positioned relatively for the pseudo-element */
  background: radial-gradient(
    circle,
    rgba(13, 76, 78, 1) 22%,
    rgba(44, 53, 49, 1) 75%
  );
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-gradient {
  background: radial-gradient(
    circle,
    rgba(13, 76, 78, 1) 22%,
    rgba(44, 53, 49, 1) 75%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
